# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
myenv/
venv/
.env
.env.*

# VS Code settings
.vscode/


# Node modules & frontend artifacts
node_modules/
dist/
build/
*.log

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
*.egg
.eggs/

# SQLite or test DBs (if not using migrations)
*.db

# Misc
*.bak
*.swp

# Next.js specific
.next/
out/
.env*.local

# Coverage directories
coverage/
.nyc_output

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

# Environment variables
.env
*.env
.env.*

!.env.example

# Secrets
*.json
!package.json
!package-lock.json